{{> menu active="my-account"}}


<section class="section">
    <div class="columns is-vcentered">

        <div class="column has-text-centered">
            <img src="/assets/imgs/image.png" alt="WeatherTop Logo" class="image" style="max-width: 100%;">
        </div>
        <div class="column is-justify-content-center is-align-items-center box">
            <form action="/account/{{user.id}}" method="POST" class="">
                <h1 class="title">My Account</h1>
                <div class="field">
                    <label class="label">Email</label>
                    <input class="input" type="text" placeholder="Enter email" name="email" value="{{user.email}}" readonly>
                </div>
                <div class="field">
                    <label class="label">First Name</label>
                    <input class="input" type="text" placeholder="Enter First Name" name="firstName" value="{{user.firstName}}" readonly>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <input class="input" type="text" placeholder="Enter Last Name" name="lastName" value="{{user.lastName}}" readonly>
                </div>
                <div class="field">
                    <label class="label">Password Update</label>
                    <input class="input" type="password" placeholder="Enter Password" name="password" value="{{user.password}}" readonly>
                </div>
                <div class="field is-grouped">
                    <button class="button is-link">Submit</button>
                </div>
            </form>
        </div>
    </div>

</section>