
    {{#each stations}}
    <div class="box box-link-hover-shadow">
        <div class="columns is-vcentered is-flex is-align-items-stretch">
            <div class="column has-background-light">
                <h2 class="title">
                    {{name}}
                </h2>
                <p class="subtitle">
                    Lat: {{latitude}}
                </p>
                <p class="subtitle">
                    Lon: {{longitude}}
                </p>
            </div>
            <div class="column has-background-light">
                <h2 class="title">
                    Weather
                </h2>
            </div>
            <div class="column has-background-light">
                <h2 class="title">
                    Temp
                </h2>
            </div>
            <div class="column has-background-light">
                <h2 class="title">
                    Wind
                </h2>
            </div>
                        <div class="column has-background-light">
                            <h2 class="title">
                                Pressure
                            </h2>
                        </div>
            <div class="column is-narrow has-background-light">
                <a href="/station/{{_id}}" class="button">
                    {{>icons/open}}
                </a>
                <a href="/dashboard/deletestation/{{_id}}" class="button">
                    {{>icons/delete}}
                </a>
            </div>
        </div>
    </div>
    {{/each}}