<table class="table is-fullwidth card">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
            <th>Pressure</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each station.reports}}
        <tr class="report">
            <td class="created-at">{{createdAt}}</td>
            <td class="code">{{code}}</td>
            <td class="temp">{{temp}} C</td>
            <td class="wind-speed">{{windSpeed}}kMh</td>
            <td class="wind-direction">{{windDirection}}Deg</td>
            <td class="pressure">{{pressure}}hPa</td>
            <td>
                <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
                    {{>icons/delete}}
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>